# export AWS_ACCESS_KEY_ID=[...]
# export AWS_SECRET_ACCESS_KEY=[...]
# kubectl --namespace crossplane-system create secret generic aws-creds --from-file creds=./aws-creds.conf
---
apiVersion: aws.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: default
spec:
  credentials:
    source: Secret
    secretRef:
      namespace: crossplane-system
      name: aws-creds
      key: creds
